/* .variants-block {
    @apply relative flex flex-col items-center
        border-solid border-[1px] bg-white
        shadow-[0px_0px_4px_rgba(0,0,0,0.25)] transition-all
        box-border pl-[10px] pr-[10px];
}

.variants-block h3 {
    @apply text-[18px] font-bold text-primary leading-[21px] mb-[7px];
}

.variants-block p {
    @apply text-[12px] text-primary text-center leading-[14px];
}

.variants-block.disabled {
    @apply w-[140px] h-[233px] border-disabled-green
        first:rounded-bl-[10px] first:rounded-tl-[10px] first:border-r-[0px]
        last:rounded-br-[10px] last:rounded-tr-[10px] last:border-l-[0px] z-0
}

.variants-block.disabled img {
    @apply mt-[14px] mb-[12px]
}

.active-sldier {
    @apply flex items-center
}
.active-sldier .variants-block.disabled {
    @apply  w-[140px] h-[233px]
        last:rounded-[10px] last:border-l-[1px] last:right-[40px]
        first:rounded-[10px] first:border-r-[1px] first:left-[40px]
}

.variants-block.active {
    @apply w-[183px] h-[273px] border-light-green rounded-[10px] z-10;
}

.variants-block.active img {
    @apply mt-[30px] mb-[22px]
} */

.slider-item {
    @apply flex flex-col items-center border-solid border-[1px] bg-white
        shadow-[0px_0px_4px_rgba(0,0,0,0.25)] transition-all
        box-border rounded-[10px] h-full relative
}

.slider-active {
    @apply fixed z-10 w-[168px] h-[273px] border-light-green;
}
.slider-active img {
    @apply w-[33px] h-[25px] mt-[30px] mb-[22px]
}
.slider-active h3 {
    @apply text-[18px] font-bold text-primary leading-[21px] mb-[7px];
}
.slider-active p {
    @apply mr-[9px] ml-[9px] text-[12px] text-primary text-center leading-[14px];
}


.slider-disabled {
    @apply w-[140px] h-[233px] border-disabled-green self-center
        after:absolute
        after:bg-[rgba(228,228,228,0.3)] after:w-full after:h-full

}
.slider-disabled img {
    @apply w-[23px] h-[23px] mt-[41px] mb-[12px]
}
.slider-disabled h3 {
    @apply text-[14px] font-bold text-primary leading-[16px] mb-[7px];
}
.slider-disabled p {
    @apply text-[10px] text-primary text-center leading-[11px];
}