.slider-item {
    @apply flex flex-col items-center border-solid border-[1px] bg-white
        shadow-[0px_0px_4px_rgba(0,0,0,0.25)] transition-all
        box-border rounded-[10px] h-full relative
}

.slider-active {
    @apply fixed z-10 w-[168px] h-[273px] border-light-green;
}
.slider-active img {
    @apply w-[33px] h-[25px] mt-[30px] mb-[22px]
}
.slider-active h3 {
    @apply text-[18px] font-bold text-primary leading-[21px] mb-[7px];
}
.slider-active p {
    @apply h-min mr-[9px] ml-[9px] text-[12px] text-primary text-center leading-[14px];
}


.slider-disabled {
    @apply w-[140px] h-[233px] border-disabled-green self-center
        after:absolute
        after:bg-[rgba(228,228,228,0.3)] after:w-full after:h-full

}
.slider-disabled img {
    @apply w-[23px] h-[23px] mt-[41px] mb-[12px]
}
.slider-disabled h3 {
    @apply text-[14px] font-bold text-primary leading-[16px] mb-[7px];
}
.slider-disabled p {
    @apply text-[10px] text-primary text-center leading-[11px];
}


.static-active {
    @apply w-[183px] h-[273px] border-light-green rounded-[10px] bg-[#FEFFFB];
}

.static-disabled {
    @apply w-[183px] h-[233px] border-disabled-green pr-[10px] pl-[10px]
        first:rounded-br-[0px] first:rounded-tr-[0px] first:border-r-[0px]
        last:rounded-bl-[0px] last:rounded-tl-[0px] last:border-l-[0px] z-0
}