/* app-header */
.app__header {
    @apply relative h-[94px] sm:h-[70px];
}

/* app-header left side */
.app__header-left {
    @apply flex items-center h-[70px] rounded-bl-[10px] bg-light-green;
}

.app__header-left .app__header-contacts {
    @apply flex flex-col sm:gap-[10px] text-white w-max ml-[84px] sm:ml-[17px];
}

.app__header-left .app__header-contacts-item {
    @apply flex items-center gap-[17px] sm:gap-[10px];
}

/* app-header right-side */
.app__header-right {
    @apply absolute right-0 top-0 h-full w-[740px]
        sm:w-[157px] bg-light-primary
        rounded-bl-[293px] sm:rounded-bl-[270px];
}

.app__header-right .app__header-wrapper {
    @apply flex flex-col justify-between h-full
        ml-[100px] mr-[25px] 
        sm:justify-end sm:mr-[16px] sm:ml-0 sm:flex-row;
        
}

.app__header-right .app__header-sociaty {
    @apply flex items-center gap-[14px];
}

.app__header-right .app__header-top {
    @apply flex mt-[12px];
}

.app__header-right .app__header-logo {
    @apply flex justify-center w-full;
}

.app__header-right .app__header-nav {
    @apply flex mb-[6px];
}

.app__header-right .app__header-list {
    @apply flex items-center justify-between w-full text-white;
}

.app__header-right .app__header-list-item {
    @apply font-bold text-[12px] leading-[14px] uppercase;
}
.app__header-right .app__header-list-item.active {
    
    @apply relative after:content-[''] after:absolute after:bottom-[-100%] 
        after:left-0 after:rounded-bl-[10px] after:rounded-tl-[10px]
        after:bg-light-green after:h-[4px] after:w-full;
}